<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".SampleApp"
        android:allowBackup="false"
        android:label="LogRecord Sample">

        <!-- 示例入口 Activity（第 6 步实现） -->
        <activity
            android:name=".SampleActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
